APP_NAME="Pay Backend"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://merchant.edfundo.com
APP_KEY=

# Database Configuration
DB_CONNECTION=mysql
DB_HOST=efp_mysql
DB_PORT=3306
DB_DATABASE=efp
DB_USERNAME=root
DB_PASSWORD=efp_password

# Redis Configuration
REDIS_HOST=efp_redis
REDIS_PORT=6379
REDIS_PASSWORD=null

# Cache & Session
CACHE_DRIVER=redis
SESSION_DRIVER=redis
QUEUE_CONNECTION=redis

# Mail Configuration (MailHog)
MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="noreply@example.com"
MAIL_FROM_NAME="${APP_NAME}"


OCTANE_SERVER=swoole

NYMCARD_API_KEY=
NYMCARD_ENVIRONMENT=dev
